<section class="contacts">
    <div class="container">
        <h2>Registration for a free phone consultation on the nuances of English UPE</h2>
        <h3>Leave a request for participation in a free lesson.
        A consultant will contact you and answer your questions</h3>
        <div>
            <form action="" class="">
                <div class="">
                    <input type="name" name="Name*" placeholder="name" class="">
                    <input type="number" name="Phone*" placeholder="phone" class="">
                    <button type="submit" class="">i want a free lesson</button>
                </div>
            </form>
        </div>
    </div>
</section>