<header>
  <div class="container">
    <a href="">
      <a href="">
        <img src="./images/logo.svg" alt="site logo" />
      </a>
    </a>
    <nav>
      <ul>
        <li>
          <a href="">Studying program</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="">Training options</a>
        </li>
        <li>
          <a href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button">Consultation by phone</button>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
        <button type="button" class="mobile-menu__close-btn" data-menu-close>
          <svg width="20" height="12" class="mobile-menu__close-icon">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <a href="">
            <img src="./images/logo.svg" alt="site logo" />
        </a>
  </div>
</header>
