.advantages-list__item{
    // width: 209px;
    font-weight: 700;
    font-size: 14px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);
    &.human-icon::before{
        display: inline-block;
        margin-right: 12px;
        content: '';
        width: 59px;
        height: 60px;            
        background-repeat: no-repeat;
        background-image: url('/images/human-icon.svg');
        background-size: contain;
        background-position: center;
    }
}
