.contacts {
    background-color: #111518;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
        url(../images/mobile-contacts-img.jpg);
    background-size: cover;
    text-align: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .contacts {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)),
            url(../images/mobile-contacts-img@2x.jpg);
    }
}
.contacts__title{
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.29;

    text-align: center;
    letter-spacing: 0.03em;
    
     color: #FFFFFF;
}
.contacts__subtitle{
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    
     color: #FFFFFF;
}
.contacts-form__name{
    width: 280px;
    height: 48px;
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    background: transparent;
}
.contacts-form__phone {
    width: 280px;
    height: 48px;
    margin-bottom: 40px;
    border: 1px solid #FFFFFF;
    background: transparent;

}
.contacts-submit-btn {
    width: 280px;
    height: 48px;
    border: 1px solid #FFFFFF;
    background: #FF6B09;
}
@media screen and (min-width: 768px) {
    .contacts__title {
        font-size: 26px;
        line-height: 1.31;
    }
    .contacts__subtitle {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 1.2;
    }

    @media (min-device-pixel-ratio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
        .contacts {
            background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)),
                url(../images/tablet-contacts-img.jpg);
        }
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .contacts {
            background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)),
                url(../images/tablet-contacts-img@2x.jpg);
        }
    }
}
@media screen and (min-width: 1680px) {
    .contacts__title {
        margin-bottom: 40px;
        font-size: 46px;
        line-height: 1.30;
    }
    .contacts__subtitle {
        margin-bottom: 60px;
        font-size: 30px;
        line-height: 1.23;
    }

    @media (min-device-pixel-ratio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
        .contacts {
            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)),
                url(../images/desktop-contacts-img.jpg);
        }
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .contacts {
            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)),
                url(../images/desktop-contacts-img@2x.jpg);
        }
    }
}