.section.problems {
background-color: black;
padding-top: 24px;
background-image: linear-gradient(0deg, var(--white-color) 0% 23%, var(--black-color) 23% 77% );

}

.problems__title {
  margin-bottom: 24px;
  font-style: normal;
  @include font(800, 24px, 31px, 0.03em);
  color: var(--white-color);

  &.color {
    color: var(--brand-color);
  }
}

.problems__list-box {
  padding: 20px 32px;
  background-color: var(--white-color);
  box-shadow: -5px 8px 26px 0px rgba(0, 0, 0, 0.04);
}

.problems__list {
  display: flex;
  flex-wrap: wrap;
}

.problems__item{
  margin-bottom: 16px;
}

.problems__item:last-child {
  margin-bottom: 0px;
}


.problems__item-title {
  margin-bottom: 5px;
  @include font(700, 14px, 17px, 0.08em);
  color: var(--brand-color);
}

.problems__item-title__dash {
  @include font(700, 20px, 24px, 0.08em);
}

.problems__item-text {
  @include font(700, 14px, 24px, 0.08em);
}








