.program {
    background-color: var(--background-color);
    color: var(--white-color);
}

.program__title {
    margin-bottom: 40px;

    font-weight: 800;
    font-size: 20px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.03em;
}

.semester {
    margin-left: 68px;
    
}

.semester__item:not(:last-child) {
    margin-bottom: 40px;
}

.semester__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.module__item:not(:last-child) {
    margin-bottom: 4px;
}

.module__title {
    display: inline-flex;
    align-items: center;

    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    align-items: center;
    letter-spacing: 0.08em;
    
    color: var(--brand-color);

    &::before {
        content: '';
        display: inline-block;
        margin-right: 5px;
        width: 12px;
        height: 1px;
        background-color: var(--brand-color);
    }
}

.theme__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
    
    color: var(--secondary-text-color);
    
    opacity: 0.5;
}